<div class="container">
  <div class="row d-flex justify-content-center mt-5" style="width: 375px; height: 700px">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card-forms py-3 px-2">
          <div class="division">
            <div class="row">
              <div class="col-3">
                <div class="line l"></div>
              </div>
              <div class="col-6"><span><h3>Edit <%= resource_name.to_s.humanize %></h3></span></div>
              <div class="col-3">
                <div class="line r"></div>
              </div>
            </div>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

              <%= f.input :password,
                          hint: "leave it blank if you don't want to change it",
                          class: "form-control",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          class: "form-control",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :current_password,
                          class: "form-control",
                          hint: "we need your current password to confirm your changes",
                          required: true,
                          input_html: { autocomplete: "current-password" } %>
            </div>

            <div class="form-actions form-group mt-3">
              <%= f.button :submit, "Update", class: "btn btn-primary" %>
            </div>

          <% end %>
          <div class="d-flex flex-column justify-content-between">
            <p style="color: black;">Unhappy?</p>
            <%= link_to "Cancel my account", registration_path(resource_name), class: "btn btn-primary", data: { confirm: "Are you sure?" }, method: :delete %>
            <%= link_to "Back", :back, class: "mt-2" %>
          </div>
        </div>
       </div>
    </div>
</div>
