<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card-forms py-3 px-2">
              <div class="division">
                  <div class="row">
                    <div class="col-3">
                      <div class="line l"></div>
                    </div>
                    <div class="col-6"><span>Resend unlock instructions</span></div>
                    <div class="col-3">
                      <div class="line r"></div>
                    </div>
                  </div>
              </div>
              <form class="myform">
                <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
                  <%= f.error_notification %>
                  <%= f.full_error :unlock_token %>

                  <div class="form-inputs form-group">
                    <%= f.input :email,
                                required: true,
                                autofocus: true,
                                class: "form-control",
                                input_html: { autocomplete: "email" } %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Resend unlock instructions", class: "btn btn-block btn-primary btn-lg" %>
                  </div>
                    <%= render "devise/shared/links" %>
                  </div>
                <% end %>
              </form>
            </div>
        </div>
    </div>
</div>
