<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card-forms py-3 px-2">
              <div class="division">
                  <div class="row">
                    <div class="col-3">
                      <div class="line l"></div>
                    </div>
                    <div class="col-6"><span>Change your password</span></div>
                    <div class="col-3">
                      <div class="line r"></div>
                    </div>
                  </div>
              </div>
                <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class:"myform") do |f| %>
                  <%= f.error_notification %>

                  <%= f.input :reset_password_token, as: :hidden %>
                  <%= f.full_error :reset_password_token %>

                  <div class="form-inputs form-group">
                    <%= f.input :password,
                                label: "New password",
                                required: true,
                                class: "form-control",
                                autofocus: true,
                                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                input_html: { autocomplete: "new-password" } %>
                    <%= f.input :password_confirmation,
                                label: "Confirm your new password",
                                required: true,
                                class: "form-control",
                                input_html: { autocomplete: "new-password" } %>
                  </div>

                  <div class="form-actions form-group mt-3">
                    <%= f.button :submit, "Change my password" %>
                  </div>
                    <%= render "devise/shared/links" %>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
