<div class="container">
    <div class="col-12 pr-3 pl-3">
      <h2 class= "text-black white text-center font-weight-bold mb-3">Search for a Product</h2>
      <div class="searchbar">
      <%= form_tag products_path, method: :get, class: "d-flex justify-content-between" do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search for a product"%>
        <div>
          <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
        </div>
      <% end %>
      </div>
    </div>

    <div class="card-body rounded-bottom text-dark">
      <% @products.each do |product| %>
        <div class="row">
          <div class="col-12 p-1">
            <div class="card-index shadow-sm w-100" style="border-left: 5px solid #8387F5;">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center ">
                  <div>
                    <p><%= truncate product["product_name"].squish, :length => 30, :separator => /\w/,
                                      :omission => "..." %></p>
                    <p class= "text-muted"><%= product["product_quantity"] %>.0 g</p>
                    <% if product["ecoscore_grade"].upcase == "A" %>
                      <span class="badge color-A">A</span>
                    <% elsif product["ecoscore_grade"].upcase == "B" %>
                      <span class="badge color-B">B</span>
                    <% elsif product["ecoscore_grade"].upcase == "C" %>
                      <span class="badge color-C">C</span>
                    <% elsif product["ecoscore_grade"].upcase == "D" %>
                      <span class="badge color-D">D</span>
                    <% elsif product["ecoscore_grade"].upcase == "E" %>
                      <span class="badge color-E">E</span>
                    <%end%>
                    <%= link_to "", "products/#{product["_id"]}" , class:"stretched-link" %>
                  </div>
                  <div class="align-self-center">
                    <img src= <%= product["image_front_url"] %> width="60" height="60" class="product-img">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
