<div class="container">
  <section class="mx-auto my-5" style="max-width: 23rem;">
    <div class="col-12 pr-3 pl-3">
      <h3 class= "text-white mb-3">Search for a Product</h3>
      <%= form_tag products_path, method: :get, class: "d-flex justify-content-between" do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search for a product"%>
        <div >
          <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
        </div>
      <% end %>
    </div>

    <div class="card-body rounded-bottom text-dark">
      <% @products.each do |product| %>
        <div class="row">
          <div class="col-12 p-1">
            <div class="card">
              <div class="card-body pb-0 d-flex">
                <img src= <%= product["image_front_url"] %> width="100" height="100" alt="">
                <div class="ml-4">
                  <p class="mb-0 hour"> Type: <%= product["ecoscore_data"]["agribalyse"]["name_en"] %> </p>
                  <p class="mb-0 hour"> Grade: <%= product["ecoscore_grade"].upcase  %></p>
                  <p class="mb-0 hour"> Score: <%= product["ecoscore_score"] %> / 100</p>
                </div>
              </div>
              <hr>
              <div class="card-body pt-0 d-flex justify-content-between">
                <h6 class="font-weight-bold mb-1"><%= product["product_name"] %></h6>
                <%= link_to "More Info", "products/#{product["_id"]}", class: "mb-0" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </section>
</div>
