<div class="container d-flex justify-content-center">

    <div class="card">
      <div class="card-body flex-column justify-content-center">
        <div class="d-flex justify-content-between ">
          <h3 class="card-title font-weight-bold"><%= @product["product_name"] %></h3>
          <%= link_to new_consumable_path(product_id: @product["_id"]), class:"fa-solid fa-3x" do %>
            <%= icon('fa-solid', 'square-plus') %>
          <% end %>
        </div>
        <p class="card-text"><%= @product["brands_tags"].first %></p>
        <div class="d-flex justify-content-between">
          <h4 class = "display-3 degree"><%= @product["ecoscore_data"]["agribalyse"]["co2_total"].round(2)%></h4>
        </div>
        <div class="d-flex justify-content-between mt-3 mb-3">
          <h6>
            <i class="fa fa-spinner fa-lg text-info pe-2" ></i>
            <span data-toggle="tooltip" title="% of fair daily food emissions">
              <%= ((@product["ecoscore_data"]["agribalyse"]["co2_total"] / 4.50785714366) * 100).round()%> % FDFE
            </span>
          </h6>
          <h6>
            <i class="fas fa-bolt fa-lg text-muted pe-2"></i>
            <span data-toggle="tooltip" title="for Swiss household">
              <%= (@product["ecoscore_data"]["agribalyse"]["co2_total"] / 0.162).round() %> Days of power
            </span>
          </h6>
        </div>
        <canvas id="showChart" width="300" height="300" data-data="<%= @lca_emissions %>"></canvas>
        <ul class="doughnut-legend d-flex justify-content-around ps-0 mb-2 mt-4 pt-1">
          <li class="ct-series-0 d-flex flex-column">
            <h5 class="mb-0 fw-bold">Desktop</h5>
            <span class="badge badge-dot my-2 cursor-pointer rounded-pill" style="background-color: rgb(102, 110, 232);width:35px; height:6px;"></span>
            <div class="text-muted">80 %</div>
          </li>
          <li class="ct-series-1 d-flex flex-column">
            <h5 class="mb-0 fw-bold">Tablet</h5>
            <span class="badge badge-dot my-2 cursor-pointer rounded-pill" style="background-color: rgb(40, 208, 148);width:35px; height:6px;"></span>
            <div class="text-muted">10 %</div>
          </li>
          <li class="ct-series-2 d-flex flex-column">
            <h5 class="mb-0 fw-bold">Mobile</h5>
            <span class="badge badge-dot my-2 cursor-pointer rounded-pill" style="background-color: rgb(253, 172, 52);width:35px; height:6px;"></span>
            <div class="text-muted">10 %</div>
          </li>
        </ul>
      </div>
    </div>
</div>
