


<div class="container">
  <div class="card" style="width: 375px; height: 700px">
    <h2 class="text">Add Food</h2>
    <div class="presentation">
      <%= image_tag @product["image_front_url"], crop: :fill, class: 'image'%>
      <div class="description">
        <p><%= @product["product_name"] %></p>
        <p><%= @product["brands"] %></p>
      </div>
    </div>
    <div class="add-zone">
      <%= simple_form_for @consumable do |f| %>
        <%= f.input :purchase_date, as: :date, html5: true, max: Date.today %>
        <%= f.input :number_of_servings, as: :integer, html5: true %>
        <%= f.input :serving_size, as: :float, html5: true %>
        <%= f.input :product_barcode %>
        <div class="text-center">
          <%= f.submit 'Submit', class: 'btn btn-flat mt-2 text-center' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
