<div class="container">
  <div class="card" style="width: 375px; height: 700px">
    <h2 class= "text font-weight-bold mb-5" style="color:#8387F5;">Add Food</h2>
    <div class="presentation mb-5">
      <%= image_tag @product["image_front_url"], crop: :fill, class: 'product-img', style:"width=120px; height:120px;"%>
      <div class="description">
        <p><%= @product["product_name"] %></p>
         <p class= "text-muted"><%= @product["product_quantity"] %>.0 g</p>
      </div>
    </div>
    <div class="add-zone">
      <%= simple_form_for @consumable do |f| %>
        <%= f.input :purchase_date, as: :date, html5: true, max: Date.today, label: 'Consumption Date' %>
        <%= f.input :number_of_servings, as: :integer, html5: true, label: 'Number of Servings'  %>
        <%= f.input :serving_size, as: :float, html5: true, label: 'Serving Size (g)'  %>
        <%= f.input :product_barcode, input_html: {value: @product["_id"]}, as: :hidden %>
        <div class="text-center">
          <%= f.submit 'Submit', class: 'btn btn-primary btn-lg mt-2 text-center' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
